@charset "utf-8";

/*
BEST PORTFOLIO	 
Author: Sohee Park (w0421827)
Filename: myCss.css
*/

html{
    width: 100%;
    scroll-behavior: smooth;
    /* overflow:hidden; */
    /* margin: 0 auto;
    padding: 0 auto; */
}

#logo{
  height: 45px;
  width: 45px;
}



body{
    font-family:tk-proxima-nova-n7;
    background:whitesmoke;
    color: black;
    line-height: 1.6;
    height: 100vh;
}

.container{
    /* max-width: 960px; */
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-size: 22px;
    /* padding: 25px; */    
}

section.parallax{
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* vertical-align: middle; */
    width: 100%;
    height: 50vh;
    scroll-snap-align: center;
}  
#para_content{
  background-size: cover;
  justify-content: center; 
}

p#secTitle{
  background-size: cover;
      justify-content: center; 
  margin: 0 auto;
    padding-bottom:100px;
    font-size: 2em;
}



.parallax{
    width:98%;
    min-height: 400px;
    background: transparent;
    margin: 0 auto;
}

.parallax.content{
    /* padding-top: 0px; */
    position: relative;
    font-size: 4vx;
    padding: 40px, 0px, 0px, 20px;
    widows: 80%;
    height:60%;
    color:white;
    background: rgba(0,0,0,0.3);
    z-index : 1;
    text-align: center;
    vertical-align: middle;
}


.imgBox * {
    top: 100px;
    box-sizing: border-box;
    
  }
  
.imgBox.column {
    padding: 20px;
    float: left;
    width: 20%;
  }
  
  /* Clearfix (clear floats) */
.imgBox.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .dpTable{
    margin: 0 auto;
        display: grid;
      box-sizing:border-box;
      z-index: 1;
      background-position: center center;
      width: 90%;


      text-align: center;
      justify-content: center;
      align-items: center;
      vertical-align: center;
      display: inline-block;
    }
    
    .dpTable.row{
        /* content: ""; */
        margin: 0 auto;
        display: grid;
        /* clear: both;
        display: table; */
        /* justify-content: center; */
        /* align-items: center; */
        /* vertical-align: center; */
        /* display: inline-block; */
    }
  
    /* .dpTable.col{
      background-size: cover;
      margin: 0 auto;
      padding-left: 100px;
        padding-top:30px;
  
        width: 45%;
        display: inline-block;
        text-align: center;
        align-content: center;

    } */


    .col.col-image{
      
      display:grid;
      background-size: cover;
      justify-content: center; 
      /* background-size: cover;
      width:300px;
      height:250px; */
      /* display: inline-block; */
    }

    .col.col-star{
      display:grid;
      background-size: cover;
      justify-content: center; 
      /* margin-left:20px; */
      /* width:35%; */
    }
    .star{
      background-size: cover;
      justify-content: center; 
    }

#webRate{
  margin-left: 250px;
  display: inline-block;
}
  
.hidden{
  display: none !important;
}

#what{
    background-color: rgba(0,0,0,0.3);
    text-align: center;
}

nav{
  position: fixed;
  top:0px;
  z-index:3;
  display: flex;
  width:100%;
  height: 60px;
  background: rgba(0,0,0,0);
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.logo{
    padding:8px 20px;
    height: 60px;
    float: left;
    font-size: 22px;
    transition: .3s;
    background: rgba(0,0,0,0);
    /* color: white; */

}

button{
    background:rgba(0,0,0,0);
}
button:hover{
    background: rgba(0,0,0,0.3);

}


nav ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  padding-right: 10%;
  /* align-items: flex-end; */
}

nav ul li{
  display: inline-block;
  list-style: outside none none;
  margin: 0;
  /* overflow: hidden; */
  padding: 0px 0px 0px 30px;
}

nav ul li a{
  text-decoration: none;
  text-transform:uppercase;
  color: white;
  padding: 0.3em 0;
  /* color: rgba(255, 255, 255, 0.5); */
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}

nav ul li a:before,
.navbar ul li a:after{
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}


nav ul a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: white;
}

nav a:after {
  padding: 0.3em 0;
  position: absolute;
  /* bottom: 50%; */
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
nav li:hover a,
.nav a {
  transform: translateY(20%);
}


.shrink{
    font-size: 3vw;
    padding: 10px 0px 0px 80px;
    color: white;
}

.shrinkBg{
    background: rgba(0,0,0,0.3); 
}
      




/* section h1{
  font-size: 4rem;

}

section p{
  font-size: 1.5rem;

}

section:nth-child(2){
  background-image: url();
  background-size: cover;
} 

*/

#what{
  width: 100%;
  height: 100vh;
  background-image: url(".\\myImg\\nasa-45067-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  justify-content: center;
  align-items: center;
  vertical-align: center;
}


#where{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(".\\myImg\\nasa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  justify-content: center;
  align-items: center;
  vertical-align: center;
}


#toyou{
  width: 100%;
  height: 100vh;
  background-image: url(".\\myImg\\rightNow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.msgBox{
    z-index: -2;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    width: 50%;
    height: 50%;
    background:rgba(26, 26, 26, 0.3);
    color:white;
    text-shadow:
      -1px -1px 0 rgb(20, 1, 26),  
       1px -1px 0 rgb(20, 1, 26),
       -1px 1px 0 rgb(20, 1, 26),
        1px 1px 0 rgb(20, 1, 26);

        justify-content: center;
}

.msgBox h2{
  text-align: center;
  vertical-align: center;

}

.preloader_bgImg_before{
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7)), url(".\\myImg\\galaxyObs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  cursor: none;
}

.preloader_bgImg_after{
  height: 100%;
  width: 100%;
  background: url(".\\myImg\\galaxyObs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  cursor: auto;
}

.spotlight {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
      circle,
      transparent 160px,
      rgba(0, 0, 0, 0.85) 200px
  );
}

.logoText {
  /* transform: translateY(-10px); */
  /* font-size: 20px; */
  font-size: 2vw;
  text-shadow:
  -1px -1px 0 rgb(20, 1, 26),  
   1px -1px 0 rgb(20, 1, 26),
   -1px 1px 0 rgb(20, 1, 26),
    1px 1px 0 rgb(20, 1, 26);
  position: absolute;
  text-align: center;
  padding-top: 600px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.logoText.txtHidden { 
  border-bottom: 1px solid #fff; 
    /* -webkit-transition: opacity 0.9s ease 0.5s;  */
  }

.logoText li {
display: inline-block;
float: left;
font-weight: 100%;
font-size: 2em;
color:white;
opacity: 1;
transition: all 3s ease-in-out;
max-width: 2em;
}

.logoText.txtHidden li.spaced {
padding-left: 0;
}

.logoText li.spaced {
padding-left: 0.5em;

}

.logoText.txtHidden li.ghost {
opacity: 0;
max-width: 0;
}

.logoText li:hover{
  color:white'
}


/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}


.scroller {
  position: absolute;
  /* text-align: center; */
  width: 10px;
  height: 10px;
  top: 80%;
  /* bottom:-20%; */
  left: 50%;
}

.down {
  position: absolute;
  width: 15px;
  height: 5px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.down:first-child {
  animation: move 3s ease-out 1s infinite;
}

.down:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.down:before,
.down:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.down:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.down:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}




@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.scrollTxt {
  display: block;
  margin-top: 75px;
  margin-left: -50px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


@font-face
{
    font-family: tk-proxima-nova-n7;
    src: url(https://use.typekit.net/af/87f9a7/000000000000000000017829/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) 
    format("woff2")
    ,url(https://use.typekit.net/af/87f9a7/000000000000000000017829/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) 
    format("woff")
    ,url(https://use.typekit.net/af/87f9a7/000000000000000000017829/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) 
    format("opentype");font-weight:700;font-style:normal;
}
@font-face
{
    font-family:tk-proxima-nova-n6;
    src:url(https://use.typekit.net/af/bf5c6c/000000000000000000017827/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) 
    format("woff2")
    ,url(https://use.typekit.net/af/bf5c6c/000000000000000000017827/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) 
    format("woff")
    ,url(https://use.typekit.net/af/bf5c6c/000000000000000000017827/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) 
    format("opentype");font-weight:600;
    font-style:normal;
}

@font-face{
    font-family: tk-proxima-nova-i6;
    src: url(https://use.typekit.net/af/8dc819/000000000000000000017828/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) 
    format("woff2")
    ,url(https://use.typekit.net/af/8dc819/000000000000000000017828/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) 
    format("woff")
    ,url(https://use.typekit.net/af/8dc819/000000000000000000017828/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3) 
    format("opentype");font-weight:600;font-style:italic;}
    
    
    @font-face{font-family:tk-proxima-nova-n3;
        src: url(https://use.typekit.net/af/3fc9b5/000000000000000000017821/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) 
        format("woff2")
        ,url(https://use.typekit.net/af/3fc9b5/000000000000000000017821/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) 
        format("woff")
        ,url(https://use.typekit.net/af/3fc9b5/000000000000000000017821/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) 
        format("opentype");font-weight:300;font-style:normal;
    }
    
    @font-face{
        font-family:tk-proxima-nova-i3;
        src:url(https://use.typekit.net/af/c429d7/000000000000000000017822/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) 
        format("woff2")
        ,url(https://use.typekit.net/af/c429d7/000000000000000000017822/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) 
        format("woff")
        ,url(https://use.typekit.net/af/c429d7/000000000000000000017822/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) 
        format("opentype");
        font-weight:200;
        font-style:italic;
    }


    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

    
    

    /* ########################### */
  
.progress-container {
  z-index: -99;
  position: relative;
  margin: 50px auto 50px;
  padding: 4px 0 0;
  width: 500px;
  height: 6px;
  background: #444;
  -moz-box-shadow: inset 0 0 2px #666;
      -webkit-box-shadow: inset 0 0 2px #666;
       box-shadow: inset 0 0 2px #666;
}
.progress-container ul li {
    position: absolute;
    top: -1px;
    left: 0;
    margin: 0;
    padding: 0;
    display: inline-table;
    height: 10px;
    width: 10px;
    background: #14BFCC;
    border-radius: 50%;
  }
  .progress-container ul li:nth-child(2) {
      margin-left: 100px;
    }
    .progress-container ul li:nth-child(3) {
      margin-left: 200px;
    }

    .progress-container ul li:nth-child(4) {
      margin-left: 300px;
    }
    .progress-container ul li:nth-child(5) {
      margin-left: 400px;
    }
    .progress-container ul li:last-child {
      margin-left: 500px;
    }
    
    #prList li:before {
      z-index: -99;
      position: absolute;
      top: -5px;
      left: -5px;
      content:'';
      height: 20px;
      width: 20px;
      /* background: #444; */
      background: #444;
      border-radius: 50%;
    }
  
  
  #prBar {
   height: 2px;
   width: 0px;
   background: #09A6B2;
   -webkit-transition: width 1s ease-in-out;
      -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
           transition: width 1s ease-in-out;
  }


.button.prBtn {
  margin: 20px auto;
  padding: 10px;
  width: 150px;
  /* font-family: Helvetica, Arial, sans-serif; */
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background: #14BFCC;
  text-align: center;
  border: 1px solid #09A6B2;
  cursor: pointer;
}

#reset {
  background: #FF4C4C;
  border-color: #9E2626;
}


.button.prBtn a{
  text-decoration: none;
  text-transform:uppercase;
  color: white;
}



input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}
 
label {
  position: relative;
  float: right;
  color: #C8C8C8;
}
label:before {
  margin: 5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
input:checked ~ label:before {
  color: #FFC107;
}
label:hover ~ label:before {
  color: #ffdb70;
}

label:hover:before {
  color: #FFC107;
}

#msg{
  padding-top:30px;
  text-align: center;
  vertical-align: center;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
       transition: width 1s ease-in-out;
}




.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.iconRow{
  padding-top:80px;
  margin: 0 auto;
  text-align: center;
}

.iconRow::after{
  content: "";
  clear: both;
  display: table;
}

.resume{
  text-align: center;
  vertical-align: center;
  margin: 0 auto;
}


.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}

.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

p#hireMe{
  font-size: 12px;
}

















